  <h1>Burgers!</h1>
<div id="container">
  <div id="available">
    <h2>Devour a burger</h2>

    <ul>
      {{#each burgers}} {{#unless devoured }} {{> burgerBlock }} {{/unless}} {{/each}}
    </ul>
  </div>
  <div id="devoured">
    <h2>Devoured burgers</h2>

    <ul>
      {{#each burgers}} {{#if devoured}}
      <li id="item">
        {{id}} - {{burger_name}}
      </li>
      {{/if}} {{/each}}
    </ul>
  </div>
</div>

<h2>Add a Burger to the Menu</h2>
<form class="form">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="b" name="name">
  </div>

  <button id ="sub" type="submit">Add Burger</button>
</form>